body {
    /* height: 100vh; */
    /* margin: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > .retroFrogger {
    position: static;
    width: 40%;
    max-height: auto;
}

#gameboard {
    display: none;
}

#gameboard.open {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 6vmin);
    grid-template-rows: repeat(11, 6vmin);
}

Button {
    height: 35px;
    width: 60px;
}

Button:hover {
    background-color: green;
    color: white;
    height: 38px;
    width: 65px;
    cursor: pointer;
    border-radius: 2px;
}

.modal {
    position: relative;
    width: 50%;
    border: 5px;
    border-color: green;
    border-style: double;
    background-color: khaki;
    padding: 1vmin;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#easyButton, #mediumButton, #hardButton, #legendaryButton {
    width: auto;
    background-color: khaki;
    border-style: none;
}

.speed {
    transform: scale(1.3);
}

#startGameModal {
    display: block;
    position: relative;
}

#startGameModal.open {
    display: none;
}

#gameOverModal, #winnerModal, #nextLevelModal {
    display: none;
}

#gameOverModal.open, #winnerModal.open, #nextLevelModal.open {
    display: block
}

#theme, #intro {
    position: absolute;
    margin-left: -130vmin;
}

/* @media only screen and (max-width: 817){
    body > .retroFrogger {
        max-width: 50%;
    }
    .modal {
    position: relative;
        top: -65%;
        left: 0%;
    }
} */

/* @media only screen and (max-width: 768){
    body > .retroFrogger {
        max-width: 65%;
    }
    #gameboard {
        position: relative;
        top: -50;
        left: 0%;
        grid-template-columns: repeat(10, 6vmin);
        grid-template-rows: repeat(11, 6vmin);
    }
} */