body {
    /* height: 100vh; */
    /* margin: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > .retroFrogger {
    position: static;
    width: 40%;
    max-height: auto;
}

#gameboard {
    display: none;
}

#gameboard.open {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 6vmin);
    grid-template-rows: repeat(11, 6vmin);
}

Button {
    height: 35px;
    width: 60px;
}

Button:hover {
    background-color: green;
    color: white;
    height: 38px;
    width: 65px;
    cursor: pointer;
    border-radius: 2px;
}

.modal {
    position: relative;
    width: 50%;
    border: 5px;
    border-color: green;
    border-style: double;
    background-color: khaki;
    padding: 1vmin;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.modal.close, #startGameModal.close {
    display: none;
}

#easyButton, #mediumButton, #hardButton, #legendaryButton, #schoolZone, #highway, #interstate, #autobahn {
    width: auto;
    background-color: khaki;
    border-style: none;
}

.speed {
    transform: scale(1.3);
}

#startGameModal.close {
    display: none;
    position: relative;
}

#startGameModal {
    display: block;
    position: relative;
}

#gameOverModal, #winnerModal, #nextLevelModal, #replayModal, #levelThreeModal, #playAgainModal {
    display: none;
}

#gameOverModal.open, #winnerModal.open, #nextLevelModal.open, #replayModal.open, #levelThreeModal, #playAgainModal {
    display: block
}